.footer{
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}

.footer_content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

.footer_content_left, .footer_content_right, .footer_content_center{
    display: flex;
    flex-direction: column;
    align-items:start;
    gap: 20px;
}

.footer_content_left li, .footer_content_right li, .footer_content_center li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer_content_right h2, .footer_content_center h2{
   color: #fff;
}

.footer_social_icons img{
    width: 40px;
    margin-right: 15px;
}

.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: grey;
    border: none;
}


@media (max-width:750px){
    .footer_content{
        display: flex;
        flex-direction: column;
        gap: 35px;      
    }
    .footer_copyright{
        text-align: center;
    }
}

